<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<title>BBMS Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

<div class="container">

<!-- SIDEBAR -->

<div class="sidebar">

<h2>BBMS</h2>

<ul>

<li><a href="/">Home</a></li>
<li><a href="/dashboard">Dashboard</a></li>
<li><a href="/register">Add Donor</a></li>
<li><a href="/search">Search Donor</a></li>
<li><a href="/logout">Logout</a></li>

</ul>

</div>


<!-- MAIN CONTENT -->

<div class="main">

<h1>Admin Dashboard</h1>


<div class="cards">

<div class="card">
<h3>Total Donors</h3>
<p>{{ total_donors }}</p>
</div>

<div class="card">
<h3>Blood Groups</h3>
<p>8</p>
</div>

<div class="card">
<h3>Available Units</h3>
<p>120</p>
</div>

<div class="card">
<h3>Requests Today</h3>
<p>12</p>
</div>

</div>

</div>

</div>

</body>
</html>